{% extends 'base.html.twig' %}

{% block title %}My account{% endblock %}

{% block body %}

<div class="example-wrapper">
    

    <div class="jumbotron">
        
        <h1>Welcome {{ app.user.username }}</h1>
        
        <div class="container">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                <datalist id="repositories">
                    {% for EachRepository in AllRepository %}
                        <option value="{{ EachRepository.name }}">
                    {% endfor %}
                </datalist>
                {{ form_rest(form) }}
                <button class="btn btn-primary">Rechercher</button>
            {{ form_end(form) }}
        </div>
    </div>

    <h1>My repositories</h1>
    <ul>    
        {% for repo in repositories %}
            <li>Name : {{repo.name}}</li>
            <li>Description : {{repo.description ?? 'No description'}}</li>
            <li><a href="{{ path('dashboard_show', {id:repo.id}) }}">Détails</a> || <a href="https://github.com/{{ app.user.username }}/{{repo.name}}">Voir sur github</a></li>
            <br>
        {% endfor %}
    </ul>

    <div class="pagination">
			{{ knp_pagination_render(repositories) }}
		</div>
</div>
{% endblock %}
