{% extends 'base.html.twig' %}

{% block title %}My account{% endblock %}

{% block body %}

<div class="dashoard">
    <div class="jumbotron">
        <h1 class="dashboard_title text-center">Welcome {{ app.user.username }}</h1> 
        <div class="container">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'text-center'} }) }}    
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form, { 'label' : 'Search your repository' }) }}
                    <datalist id="repositories">
                        {% for EachRepository in AllRepository %}
                            <option value="{{ EachRepository.name }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h1 class="text-white text-center">My repositories</h1>
        <ul class="repository">    
            {% for repo in repositories %}
                <li>Name : {{repo.name}}</li>
                <li>Description : {{repo.description ?? 'No description'}}</li>
                <li><a href="{{ path('dashboard_show', {id:repo.id}) }}">Détails</a> || <a href="https://github.com/{{ app.user.username }}/{{repo.name}}">Voir sur github</a></li>
                <hr>
            {% endfor %}
            <div class="pagination justify-content-center">
                {{ knp_pagination_render(repositories) }}
            </div>
        </ul>

        
    </div>
</div>
{% endblock %}
