{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}

<div class="dashoard">
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {% for message in app.flashes('success') %}
                        <div class="alert alert-success text-center">
                            {{message}}
                        </div>
                {% endfor %}

                {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger text-center">
                            {{message}}
                        </div>
                {% endfor %}

                {% if not form.vars.valid%}
                    <div class="alert alter-danger text-center">
                        Erreur de saisie
                    </div>
                {% endif %}
                
                <div class="form-row align-items-end">
                    <div class="col">
                        {{ form_row(form, { 'label' : 'Notify by email all changes to this repository' }) }}   
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <button class="btn btn-primary">Envoyer</button>
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    
    <div class='container'>
        <div class="repo_title">
            <h1>{{repo.name}}</h1>
            <p>{{repo.description}}</p>
        </div>
        <div class="row">
            <div class="col-6">
                <h1 class="subtitle_repo">Commits carried out</h1>
                <div class="scroll text-white">
                    {% for commit in commits %}
                        <p>Message : {{ commit.commit.message }}</p>
                        <p>Committer : {{ commit.commit.committer.name }}</p>
                        <hr>
                    {% endfor %}
                </div> 
            </div>
            <div class="col-6">
                <h1 class="subtitle_repo">Change made on repository</h1>
                <div class="scroll text-white">
                    {% for lastChange in lastChanges %}
                        <p>Type : {{ lastChange.type }}</p>
                        <p>Auteur : {{ lastChange.actor.login }}</p>
                        <p>Créer le : {{ lastChange.created_at|date("d/m/Y H:i:s", "Europe/Paris") }}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
