{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
                {% for message in app.flashes('success') %}
                        <div class="alert alert-success text-center">
                            {{message}}
                        </div>
                    {% endfor %}

                {% if not form.vars.valid%}
                    <div class="alert alter-danger text-center">
                        Erreur de saisie
                    </div>
                {% endif %}
                
                {{ form_widget(form) }}
                {{ form_rest(form) }}
                <button class="btn btn-primary">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
    
    <div class='container'>
        <h1>Repository</h1>
        <h3>Name : {{repo.name}}</h3>
        <p>Description : {{repo.description}}</p>
        <div class="row">
            <div class="col-6">
                <h1>Commits éffectués</h1>
                {% for commit in commits %}
                    <p>Message : {{ commit.commit.message }}</p>
                    <p>Committer : {{ commit.commit.committer.name }}</p>
        
                    <hr>
                {% endfor %}
            </div>
            <div class="col-6">
                <h1>Changement éffectué sur le repository</h1>
                {% for lastChange in lastChanges %}
                    <p>Type : {{ lastChange.type }}</p>
                    <p>Auteur : {{ lastChange.actor.login }}</p>
                    <p>Créer le : {{ lastChange.created_at|date("d/m/Y H:i:s", "Europe/Paris") }}</p>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock %}
